<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
   xml:lang="{{language}}"
   lang="{{language}}"
   dir="ltr"
   typeof="bibo:Document "
   about=""
   property="dcterms:language"
   content="{{language}}"
   prefix="dcterms: http://purl.org/dc/terms/ bibo: http://purl.org/ontology/bibo/ schema: http://schema.org/ w3p:
   http://www.w3.org/2001/02pd/rec54#"
   xmlns="http://www.w3.org/1999/xhtml">
   <head>
      {% set name = data.metadata.title|lower|replace(' ', '-') %}
      <title>{{ data.metadata.title }}</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="https://dij151upo6vad.cloudfront.net/2.latest/css/vlaanderen-ui.css"/>
      <link rel="stylesheet" href="https://dij151upo6vad.cloudfront.net/2.latest/css/vlaanderen-ui-corporate.css"/>
      <link
         rel="icon"
         sizes="192x192"
         href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/icon-highres-precomposed.png"/>
      <link
         rel="apple-touch-icon"
         href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-iphone-precomposed.png"/>
      <link
         rel="apple-touch-icon"
         sizes="76x76"
         href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-ipad-precomposed.png"/>
      <link
         rel="apple-touch-icon"
         sizes="120x120"
         href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-iphone-retina-precomposed.png"/>
      <link
         rel="apple-touch-icon"
         sizes="152x152"
         href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-ipad-retina-precomposed.png"/>
      <meta
         name="msapplication-square70x70logo"
         content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-small.png"/>
      <meta
         name="msapplication-square150x150logo"
         content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-medium.png"/>
      <meta
         name="msapplication-wide310x150logo"
         content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-wide.png"/>
      <meta
         name="msapplication-square310x310logo"
         content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-large.png"/>
      <meta name="msapplication-TileColor" content="#FFE615"/>
      <script src="https://prod.widgets.burgerprofiel.vlaanderen.be/api/v1/node_modules/@govflanders/vl-widget-polyfill/dist/index.js"></script>
   </head>
   <body>
      <div
         style="min-height:44px;;" id="vlaanderen-header">
         <!-- insert your global header here -->
         <script src="https://prod.widgets.burgerprofiel.vlaanderen.be/api/v1/widget/b0dae312-e7a6-4612-978a-f0e3b2d975bf/embed"></script>
         <!-- end global header-->
      </div>
      <!-- Start page content -->
      <div class="page">
         <div class="layout layout--wide">
            <div class="skiplink">
               <a rel="nofollow noreferrer" href="#main">Skip this section and go to general content</a>
            </div>
         </div>
         <div class="page">
            <div class="region">
               <div class="layout layout--wide">
                  <div class="grid u-hr">
                     <div class="col--9-12 col--1-1--s">
                        {% if data.metadata.autotranslate %}
                        <div class="disclaimer">
                           <p>This document is a translation from {{data.metadata.primaryLanguage}} to English. </p>
                        </div>
                        {% endif %}
                        <div class="head" role="contentinfo" id="respecHeader">
                           <h1 class="h1 title p-name" property="dcterms:title" id="title">{{ data.metadata.title }}</h1>
                           <div class="head">
                              <dl>
                                 <dt>
                                    <Status>
                                 </dt>
                                 <dd>
                                    <a href="{{ data.metadata.status }}">{{ data.metadata.statuslabel }}</a>
                                 </dd>
                                 <dt>Published on</dt>
                                 <dd>{{ data.metadata.issued }}</dd>
                                 <dt>This version</dt>
                                 <dd>
                                    <a href="{{ data.metadata.navigation.self }}">{{ data.metadata.navigation.self }}</a>
                                 </dd>
                                 {% if data.metadata.navigation.next %}
                                 <dt>Next version</dt>
                                 <dd>
                                    <a href="{{ data.metadata.navigation.next }}">{{ data.metadata.navigation.next }}</a>
                                 </dd>
                                 {% endif %}
                                 {% if data.metadata.navigation.prev %}
                                 <dt>Previous version</dt>
                                 <dd>
                                    <a href="{{ data.metadata.navigation.prev }}">{{ data.metadata.navigation.prev }}</a>
                                 </dd>
                                 {% endif %}
                              </dl>
                           </div>
                           <dt>Authors</dt>
                           {% set sortedAuthors = (data.stakeholders.authors | sort(attribute='lastName')) %}
                           {% for author in sortedAuthors %}
                           <dd inlist="" rel="foaf:maker" class="p-author h-card vcard">
                              <span typeof="foaf:Person">
                              <span class="p-name fn" property="foaf:lastName">
                              {{ author.lastName }}</span>,
                              <span class="p-name fn" property="foaf:firstName">
                              {{ author.firstName }}</span>
                              {% if author.affiliation.homepage and author.affiliation.affiliationName %}
                              -
                              <a href="{{ author.affiliation.homepage }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">
                              {{ author.affiliation.affiliationName }}</a>
                              {% elif author.affiliation.affiliationName %}
                              -
                              <span class="p-org org h-org h-card">
                              {{ author.affiliation.affiliationName }}</span>
                              {% endif %}
                              </span>
                           </dd>
                           {% endfor %}
                           <dt>Editors</dt>
                           {% set sortedEditors = (data.stakeholders.editors | sort(attribute='lastName')) %}
                           {% for editor in sortedEditors %}
                           <dd inlist="" rel="foaf:maker" class="p-author h-card vcard">
                              <span typeof="foaf:Person">
                              <span class="p-name fn" property="foaf:lastName">
                              {{ editor.lastName }}</span>,
                              <span class="p-name fn" property="foaf:firstName">
                              {{ editor.firstName }}</span>
                              {% if editor.affiliation.homepage and editor.affiliation.affiliationName %}
                              -
                              <a href="{{ editor.affiliation.homepage }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">
                              {{ editor.affiliation.affiliationName }}</a>
                              {% elif editor.affiliation.affiliationName %}
                              -
                              <span class="p-org org h-org h-card">
                              {{ editor.affiliation.affiliationName }}</span>
                              {% endif %}
                              </span>
                           </dd>
                           {% endfor %}
                           <dt>Contributors</dt>
                           {% set sortedContributors = (data.stakeholders.contributors | sort(attribute='lastName')) %}
                           {% for contributor in sortedContributors %}
                           <dd inlist="" rel="foaf:maker" class="p-author h-card vcard">
                              <span typeof="foaf:Person">
                              <span class="p-name fn" property="foaf:lastName">
                              {{ contributor.lastName }}</span>,
                              <span class="p-name fn" property="foaf:firstName">
                              {{ contributor.firstName }}</span>
                              {% if contributor.affiliation.homepage and contributor.affiliation.affiliationName %}
                              -
                              <a href="{{ contributor.affiliation.homepage }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">
                              {{ contributor.affiliation.affiliationName }}</a>
                              {% elif contributor.affiliation.affiliationName %}
                              -
                              <span class="p-org org h-org h-card">
                              {{ contributor.affiliation.affiliationName }}</span>
                              {% endif %}
                              </span>
                           </dd>
                           {% endfor %}
                           </dl>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
            <div class="layout layout--wide">
               <div class="grid">
                  <div class="col--9-12 col--12-12--s">
                     <div class="region" id="introduction">
                        <div class="introduction typography">
                           {% block introduction %}
                           <p>
                              This document describes an
                              <strong>implementation model</strong>, in this case 
                              <strong>
                              {{ data.metadata.title }}</strong>. <!-- Een applicatieprofiel is een specificatie die bestaande termen hergebruikt van verschillende basis-standaarden en
                                 daar meer specificiteit aan toevoegt. -->
                              <!-- Daarbij wordt het gebruik van de termen toegelicht voor de interbestuurlijke uitwisseling van overheidsinformatie.
                                 -->
                              The implementation model specifies a semantic data model covering a set of usecases. 
                              The specification consists of terms with their constraints (cardinalities, codelists, usage guidelines).  
                           </p>
                           {% endblock %}
                        </div>
                     </div>
                     <div class="region region--no-space-top typography" id="summary">
                        <h2 class="h2" aria-level="1" role="heading" id="h2_sotd">Summary</h2>
                        {% block summary %}
                        {% if data.metadata.description %}
                        {{ data.metadata.description[language] }}
                        {% endif %}
                        {% endblock %}
                     </div>
                     <div class="region region--no-space-top typography" id="status">
                        <section class="introductory" id="sotd" typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter">
                           <h2 class="h2" aria-level="1" role="heading" id="h2_sotd">Status of this document</h2>
                           {% block status %}
                           <p>
                              This implementation model has the status
                              <a href="{{ data.metadata.status }}">
                              {{ data.metadata.statuslabel }}</a>
                              published at {{ data.metadata.issued }}.
                           </p>
                           <p>
                              Information about the process and the decisions involved in the creation of this specification are consultable at the 
                              <a href="{{ data.metadata.standaardregisterurl }}">registry of standards</a>.
                           </p>
                           {% endblock %}
                        </section>
                     </div>
                     <div class="region region--no-space-top typography" id="license">
                        <h2 class="h2">License</h2>
                        {% block license %}
                        <p>
                           <span rel="dct:type" property="dct:title" href="http://purl.org/dc/dcmitype/Text" xmlns:dct="http://purl.org/dc/terms/">
                           This specification</span>
                           of
                           <a
                              rel="cc:attributionURL"
                              property="cc:attributionName"
                              href="https://data.vlaanderen.be/id/organisatie/OVO002949"
                              xmlns:cc="http://creativecommons.org/ns#">Digitaal Vlaanderen</a>
                           is published under 
                           <a
                              href="https://overheid.vlaanderen.be/sites/default/files/documenten/ict-egov/licenties/hergebruik/modellicentie_gratis_hergebruik_v1_0.html"
                              rel="license">"Model License Free Reuse - v1.0"</a>.
                        </p>
                        {% endblock %}
                     </div>
                     <div class="region region--no-space-top typography" id="conformance">
                        <h2 class="h2" id="conformance" aria-level="1" role="heading">Conformance</h2>
                        {% block conformance %}
                        <p>An implementation is conformant with this implementation model if it satifies 
                           <a href="/doc/begeleidend/implementatiemodellen/conformiteit">these rules</a>
                           .
                        </p>
                        {% endblock %}
                     </div>
                     <div class="region region--no-space-top" id="overview">
                        <h2 class="h2">Overview</h2>
                        {% if data.metadata.autotranslate %}
                        <div class="disclaimer">
                           <p>This document is a translation from {{data.metadata.primaryLanguage}} to English. </p>
                           <br>
                        </div>
                        {% endif %}
                        <div class="grid">
                           <div class="col--9-12 col--1-1--s typography">
                              {% if ( ( data.classes | length > 0)   ) %}
                              <div class="region region--no-space-top">
                                 <p>This document describes the usage of the following entities for a correct usage of the Implementation Model:  <br/> |
                                    {%- for entity in data.classes %}
                                       {% if entity.applicationProfileLabel[language] %}
                                          <a href="#{{ entity.applicationProfileLabel[language] | generateAnchorTag() }}">
                                          {{ entity.applicationProfileLabel[language] }}</a>
                                          |
                                       {% endif %}
                                    {%- endfor %}  
                                 </p>
                              </div>
                              {% endif %}
                              {% if ( ( data.dataTypes | length ) > 0 ) %}
                              <div class="region region--no-space-top">
                                 <p>
                                    This document describes the usage of the following datatypes for a correct usage of the Implementation Model:<br/> |
                                    {%- for dataType in data.dataTypes %}
                                       {% if dataType.applicationProfileLabel[language] %}
                                          <a href="#{{ dataType.applicationProfileLabel[language] | generateAnchorTag() }}">
                                          {{ dataType.applicationProfileLabel[language] }}</a>
                                          |
                                       {% endif %}
                                    {%- endfor %}
                                 </p>
                              </div>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                     <div class="region region--no-space-top">
                        {% block images %}
                        <a href="{{ metadata.documentroot }}/html/overview.jpg" target="_blank">
                        <img src="{{ metadata.documentroot }}/html/overview.jpg"/>
                        </a>
                        {% endblock %}
                     </div>
                     <div class="region region--no-space-top">
                        <h2 class="h2">Entities</h2>
                     </div>
                        {% for entity in data.classes %}
                           {% if entity.applicationProfileLabel[language] %}
      			               {% set entitylabel = entity.applicationProfileLabel[language] %}
			                  {% else %}
      			               {% set entitylabel = "ERROR" %}
                           {% endif %}
                     <div class="region region--no-space-top">
                        <h3 class="h3" id="{{ entity.id }}">
                           <a href="{{ entity.id }}" data-toggle="tooltip" data-content="{{ entity.id }}" id="{{ entitylabel | generateAnchorTag() }}" data-placement="right">
                           {{ entitylabel }}</a>
                        </h3>
                        <div class="region region--no-space-top">
                           <dl>
                              <dt>Description</dt>
                              <dd>
                                 {% if entity.applicationProfileDefinition[language] %}
                                    {{ entity.applicationProfileDefinition[language] }}
                                 {% endif %}
                              </dd>
                                 {% if entity.applicationProfileUsageNote[language] %}
                                    <dt>Usage</dt>
                                    <dd>
                                       {{ entity.applicationProfileUsageNote[language] | safe }}
                                    </dd>
                                 {% endif %}
                              {% if ((entity.parents | length) > 0 ) %}
                              <dt>Subclass of
                              <dt>
                              <dd>
                                 {%- for parent in entity['parents'] %}
                                 <a href="{{ parent.id }}">
                                 {{ parent.applicationProfileLabel[language] }}</a>
                                 {% if not loop.last %},
                                 {% endif %}
                                 {%- endfor %}
                              </dd>
                              {% endif %}
                              <dt>Properties</dt>
                              {% if ((entity.properties | length) > 0 ) %}
                              <dd>
                                 For this entity the following properties are defined:
                                    {%- for prop in entity['properties'] %}
                                       {% if prop.applicationProfileLabel[language] %}
                                          <a href="#{{ entitylabel | generateAnchorTag(prop.applicationProfileLabel[language]) }}">
                                          {{ prop.applicationProfileLabel[language] }}</a>
                                       {% endif %}
                                       {% if not loop.last %},
                                       {% endif %}
                                    {%- endfor %}.
                              </dd>
                              {% else %}
                              <dd>No properties have been defined for this entity.</dd>
                              {% endif %}
                           </dl>
                        </div>
                        {% if ((entity.properties | length) > 0 ) %}
                        <div class="u-table-overflow">
                        <table class="data-table">
                        <thead>
                        <tr class="data-table__header">
                        <th class="data-table__header-title--sortable data-table__header-title--sortable-active">Property</th>
                        <th class="data-table__header-title--sortable">Expected Range</th>
                        <th class="data-table__header-title--sortable">Cardinality</th>
                        <th class="data-table__header-title--sortable">Description</th>
                        <th class="data-table__header-title--sortable">Usage</th>
                        <th class="data-table__header-title--sortable">Codelist</th>
                        </tr>
                        </thead>
                        <tbody class="supertype">
                        {% for prop in entity['properties'] %}
                           {% if prop.applicationProfileLabel[language] %}
                              {% set proplabel = prop.applicationProfileLabel[language] %}
                           {% else %}
                              {% set proplabel = "ERROR" %}
                           {% endif %}
                        <tr id="{{ entitylabel | generateAnchorTag(proplabel) }}" typeof="rdfs:Property" resource="{{ prop.uri }}">
                        <td>
                        <code property="rdfs:label">
                        <a href="{{ prop.id }}" data-toggle="tooltip" data-content="{{ prop.id }}" data-placement="right">
                        {{ proplabel }}</a>
                        </code>
                        </td>
                        <td>
                           {% if prop.range %}
                           	{% if prop.range.applicationProfileLabel[language] %}
                                 {% if prop.range.listedInDocument %}
                                 <a href="#{{ prop.range.applicationProfileLabel[language] | generateAnchorTag() }}" data-toggle="tooltip" data-content="{{ prop.range.applicationProfileLabel[language] }}" data-placement="right">
                                    {{ prop.range.applicationProfileLabel[language] }}</a>
                                 {% else %}
                                 <a href="{{ prop.range.id }}" data-toggle="tooltip" data-content="{{ prop.range.id }}" data-placement="right">
                                    {{ prop.range.applicationProfileLabel[language] }}</a>
                                 {% endif %}
                              {% endif %}
                           {% endif %}
                        </td>
                        <td>
                        {% if prop.minCount == prop.maxCount %}
                        {% set cardinality = prop.minCount %}
                        {% else %}
                        {% set cardinality = prop.minCount + '..' + prop.maxCount %}
                        {% endif %}
                        {{ cardinality }}
                        </td>
                        <td property="rdfs:comment">
                           {% if prop.applicationProfileDefinition[language] %}
                           {{ prop.applicationProfileDefinition[language] }}
                           {% endif %}
                        </td>
                        <td property="vann:usageNote">
                           {% if prop.applicationProfileUsageNote[language] %}
                           {{ prop.applicationProfileUsageNote[language] | safe }}
                           {% endif %}
                        </td>
                        <td>
                        {% if prop.codelist %}
                        <a href="{{ prop.codelist }}">Link</a>
                        {% endif %}
                        </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        </div>
                        {% endif %}
                     </div>
                     {% endfor %}
                     {% if data.dataTypes %}
                     <div class="region region--no-space-top">
                        <h2 class="h2">Datatypes</h2>
                     </div>
                        {% for dataType in data.dataTypes %}
                           {% if dataType.applicationProfileLabel[language] %}
      			               {% set dataTypelabel = dataType.applicationProfileLabel[language] %}
			                  {% else %}
      			               {% set dataTypelabel = "ERROR" %}
                           {% endif %}
                     <div class="region region--no-space-top">
                        <h3 class="h3" id="{{ dataType.id }}">
                           <a href="{{ dataType.id }}" data-toggle="tooltip" data-content="{{ dataType.id }}" id="{{ dataTypelabel | generateAnchorTag() }}" data-placement="right">
                           {{ dataTypelabel }}</a>
                        </h3>
                        <div class="region region--no-space-top">
                           <dl>
                              <dt>Description</dt>
                                {% if dataType.applicationProfileDefinition[language] %}
                                    {{ dataType.applicationProfileDefinition[language] }}
                                 {% endif %}
                                 {% if dataType.applicationProfileUsageNote[language] %}
                                 <dt>Usage</dt>
                                 <dd>
                                    {{ dataType.applicationProfileUsageNote[language] | safe }}
                                 </dd>
                                 {% endif %}
                              {% if ((dataType.parents | length) > 0 ) %}
                              <dt>Subclass of 
                              <dt>
                              <dd>
                                 {%- for parent in dataType['parents'] %}
                                 <a href="{{ parent.id }}">
                                 {{ parent.applicationProfileLabel[language] }}</a>
                                 {% if not loop.last %},
                                 {% endif %}
                                 {%- endfor %}
                              </dd>
                              {% endif %}
                              <dt>Properties</dt>
                              {% if ((dataType.properties | length) > 0 ) %}
                              <dd>We have defined the following properties for this datatype:
                                 {%- for prop in dataType['properties'] %}
                                 <a href="#{{ dataTypelabel | generateAnchorTag(prop.applicationProfileLabel[language]) }}">{{ prop.applicationProfileLabel[language] }}</a>
                                 {% if not loop.last %},
                                 {% endif %}
                                 {%- endfor %}.
                              </dd>
                              {% else %}
                              <dd>There are no properties defined for this datatype.</dd>
                              {% endif %}
                           </dl>
                        </div>
                        {% if ((dataType.properties | length) > 0 ) %}
                        <div class="u-table-overflow">
                           <table class="data-table">
                              <thead>
                                 <tr class="data-table__header">
                                    <th class="data-table__header-title--sortable data-table__header-title--sortable-active">Property</th>
                                    <th class="data-table__header-title--sortable">Expects Type</th>
                                    <th class="data-table__header-title--sortable">Cardinality</th>
                                    <th class="data-table__header-title--sortable">Description</th>
                                    <th class="data-table__header-title--sortable">Usage</th>
                                    <th class="data-table__header-title--sortable">Codelist</th>
                                 </tr>
                              </thead>
                              <tbody class="supertype">
                                 {% for prop in dataType['properties'] %}
                           		   {% if prop.applicationProfileLabel[language] %}
      			   		               {% set proplabel = prop.applicationProfileLabel[language] %}
			   		                  {% else %}
      			   		               {% set proplabel = "ERROR" %}
                           		   {% endif %}
                                 <tr id="{{ dataTypelabel | generateAnchorTag(proplabel) }}" typeof="rdfs:Property" resource="{{ prop.uri }}">
                                    <td>
                                       <code property="rdfs:label">
                                       <a href="{{ prop.id }}" data-toggle="tooltip" data-content="{{ prop.id }}" data-placement="right">
                                       {{ proplabel }}</a>
                                       </code>
                                    </td>
                                    <td>
                                    {% if prop.range %}
                                       {% if prop.range.listedInDocument %}
                                          <a href="#{{ prop.range.applicationProfileLabel[language] | generateAnchorTag() }}" data-toggle="tooltip" data-content="{{ prop.range.applicationProfileLabel[language] }}" data-placement="right">
                                             {{ prop.range.applicationProfileLabel[language] }}</a>
                                          {% else %}
                                          <a href="{{ prop.range.id }}" data-toggle="tooltip" data-content="{{ prop.range.id }}" data-placement="right">
                                             {{ prop.range.applicationProfileLabel[language] }}</a>
                                          {% endif %}
                                       {% endif %}
                                    </td>
                                    <td>
                                       {% if prop.minCount == prop.maxCount %}
                                       {% set cardinality = prop.minCount %}
                                       {% else %}
                                       {% set cardinality = prop.minCount + '..' + prop.maxCount %}
                                       {% endif %}
                                       {{ cardinality }}
                                    </td>
                                       <td property="rdfs:comment">
                                          {% if prop.applicationProfileDefinition[language] %}
                                          {{ prop.applicationProfileDefinition[language] }}
                                          {% endif %}
                                       </td>
                                       <td property="vann:usageNote">
                                          {% if prop.applicationProfileUsageNote[language] %}
                                          {{ prop.applicationProfileUsageNote[language] | safe }}
                                          {% endif %}
                                       </td>
                                    <td>
                                       {% if prop.codelist %}
                                       <a href="{{ prop.codelist }}">Link</a>
                                       {% endif %}
                                    </td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                        {% endif %}
                     </div>
                     {% endfor %}
                     {% endif %}
                     <div class="region region--no-space-top" id="jsonld">
                        <h2 class="h2" aria-level="1" role="heading" id="h2_sotd">JSON-LD context</h2>
                        (non-normative)
                        {% block jsonld %}
                        <p>A reusable JSON-LD context definition for this implementation model is retrievable at: 
                           <a href="{{ metadata.documentroot }}/context/{{ data.metadata.filename }}.jsonld" target="_blank">
                           {{ metadata.documentroot }}/context/ {{ data.metadata.filename }}.jsonld</a>
                        </p>
                        {% endblock %}
                     </div>
                     <div class="region region--no-space-top" id="shacl">
                        <h2 class="h2" aria-level="1" role="heading" id="h2_sotd">SHACL template</h2>
                        (non-normative)
                        {% block shacl %}
                        <p>A reusable SHACL template for this implementation model is retrievable at: 
                           <a href="{{ metadata.documentroot }}/shacl/{{ data.metadata.filename }}-SHACL.ttl" target="_blank">
                           {{ metadata.documentroot }}/shacl/ {{ data.metadata.filename }}-SHACL.ttl</a>
                        </p>
                        {% endblock %}
                     </div>
                  </div>
                  <div class="col--2-12 col--12-12--s push--1-12" id="sideNav">
                     <nav class="side-navigation js-sticky region" id="sideNav">
                        <div class="side-navigation__content js-scrollspy">
                           <div class="side-navigation__group">
                              <ul>
                                 <li class="side-navigation__item">
                                    <a href="#introduction">Introduction</a>
                                 </li>

                                 <li class="side-navigation__item">
                                    <a href="#summary">Summary</a>
                                 </li>
                                 <li class="side-navigation__item">
                                    <a href="#status">Status of this document</a>
                                 </li>
                                 <li class="side-navigation__item">
                                    <a href="#license">License</a>
                                 </li>
                                 <li class="side-navigation__item">
                                    <a href="#conformance">Conformance</a>
                                 </li>
                                 <li class="side-navigation__item">
                                    <a href="#overview">Overview</a>
                                 </li>
                                 <li class="side-navigation__item">
                                    <a href="#jsonld">JSON-LD Context</a>
                                 </li>
                                 <li class="side-navigation__item">
                                    <a href="#shacl">SHACL template</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </nav>
                  </div>
                  <!-- End page content -->
               </div>
            </div>
         </div>
      </div>
      <div
         id="vlaanderen-footer">
         <!-- insert your Vlaanderen-footer-code here -->
         <script src="https://prod.widgets.burgerprofiel.vlaanderen.be/api/v1/widget/f1d7f80f-ad17-4f25-92b4-027a99785068/embed"></script>
         <!-- End global footer-->
      </div>
      <script src="https://dij151upo6vad.cloudfront.net/2.latest/js/vlaanderen-ui.js"></script>
      <style>
         @media screen {
         /* hide from IE3 */
         a[href]:hover {
         background: #ffa
         }
         }
         p {
         text-align: justify;
         }
         tr:nth-child(even) td {
         background-color: #eee;
         }
         dt,
         dd {
         margin-top: 0;
         margin-bottom: 0
         } /* opera 3.50 */
         dt {
         font-weight: bold
         }
         pre,
         code {
         font-family: monospace
         } /* navigator 4 requires this */
         em {
         font-style: italic;
         }
         img {
         width: 100%;
         }
         .tooltip {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 800;
         display: none;
         max-width: 128rem;
         background: #fff;
         border: 1px solid #ccc;
         margin-bottom: 1.5rem;
         text-align: center;
         font-size: 1.4rem;
         color: #000;
         background-clip: padding-box;
         }
      </style>
   </body>
</html>
</body>
</html>
</body>
</html></html>